<h3>Pagina de estadisticas</h3>
<p>
	<ul>
		<li>Numero de preguntas: <%= statistics.n_quizes %></li>
		<li>Numero de comentarios: <%= statistics.n_comments %></li>
		<li>Media de comentarios por pregunta: <%= statistics.media %></li>
		<li>Preguntas con comentarios: <%= statistics.quizes_con %></li>
		<li>Preguntas sin comentarios: <%= statistics.quizes_sin %></li>
	</ul>
</p>
